@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Body + general */

* {
   font-family: "Poppins", sans-serif;
}

body {
   background-image: linear-gradient(
      to right bottom,
      #051937,
      #004a73,
      #0083ab,
      #00c0d7,
      #00fff3
   );
   margin: 0;
   padding: 0;
   height: 100vh;
}

/* Navbar and its elements */

.navbar {
   padding: 10px 10px 0 0;
   height: 50px;
   align-items: center;
}

.nav-list {
   list-style: none;
   text-align: right;
}

.nav-link {
   color: #380a21;
   font-size: 20px;
   font-weight: 700;
   text-decoration: none;
   float: right;
   padding-right: 15px;
   padding-left: 15px;
}

.nav-link:hover {
   color: #f12b8e;
}

/* Main content */

.main-start {
   margin: 15% 10% 0 10%;
   color: whitesmoke;
}

.main-content {
   align-items: center;
   max-width: 60%;
}

.main-paragraph, .main-header {
   float: left;
}

#avatar-img {
   max-width: 400px;
   float: right;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
}

/* Footer */
